---
page_title: "Provider: Horizon"
subcategory: ""
description: |-
  The VMware Horizon provider is used to interact with VMware Horizon.
---

# VMware Horizon Provider

The VMware Horizon provider is used to interact with VMware Horizon.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
